.section {
  background-image: url("https://www.shutterstock.com/image-vector/doodle-seamless-pattern-web-development-260nw-1327971170.jpg");
  padding-top: 120px;
  background-repeat: repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.section::before {
  position: absolute;
  content: "";
  background-color: rgba(17, 17, 17, 0.904);
  /* filter: blur(2px); */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
