.section {
  background-image: url("../../assets/bg.jpg");
  background-size: 300%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  position: relative;
  z-index: 5;
}

.section::before {
  position: absolute;
  content: "";
  /* backdrop-filter: blur(3px); */
  background-color: rgba(59, 59, 59, 0.534);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* right: 0; */
  z-index: -1;
}
