@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Raleway:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  h1 {
    @apply text-4xl md:text-5xl lg:text-7xl;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-6xl  font-bold;
  }

  h4 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold;
  }
  h4,
  p {
    @apply text-white;
  }
}

.section {
  @apply mt-16 mx-2 md:mx-5;
}
@layer components {
  .BTNcard {
    @apply px-4 py-2 font-hyper rounded-md ring-0 hover:ring hover:bg-transparent ring-gray-700 text-gray-200 hover:text-white bg-indigo-700 duration-150;
  }
  .effect {
    @apply shadow-sm shadow-white rounded;
  }
  .effectGlass {
    @apply bg-gray-50 bg-opacity-20 rounded-md;
  }
}
